<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="trumpman.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trumpman</title>
  </head>

  <body>
    <div id="world"></div>
    <div id="trumpman"></div>
    <div id="hillary"></div>
    <div id="biden"></div>
    <div id="mueller"></div>
    <div id="scorebox">
      <div id="score">Score: <span class="score"></span></div>
      <div id="money">Money: <span class="money"></span></div>
    </div>
  </body>
<router-outlet></router-outlet>